
//banner

.banner-home{
  padding: 20px;
  background-image :url('/assets/bitch.jpg');
	height: 100vh;
  background-size: cover;
  background-position: center;
  color: black;
  text-align: center;

}

.banner-content{
  padding-top: 220px;
}

.slogan{
 font-size: 50px;
  font-weight: bold;


}
.banner-home p{
  font-size: 25px;

  font-weight:bold;
}
.link_to{
  font-size:30px;
}

// h2 and steps to rent a bike

.EXPERIENCE > h2{
  text-align: center;
}

.steps-bike{
  font-size:60px;

  display: flex;
  justify-content: space-around;
}



//testimonials
.ange-photo{
  border-radius: 50%;


