
input[type=submit] {
  width: 100%;
  background-color: $red;
  color: #fff;
  height: 3em;
  outline: none;
  border: none;
  border-radius: 5px;
}

.bike-show-booking-headers {
  margin-bottom: 3em;
}
