<div class="navbar-desktop">
<%= form_tag bikes_path, class: "form-inline" ,method: :get do %>

  <%= text_field_tag :query,
  params[:query],
  class: "form-control mr-sm-2", id: "searchbar-js",
    placeholder: "Find a bike"
    %>
    <%= button_tag "Search a Bike", id: "searchbutton", class: "btn btn-primary" %>
  </div>
<% end %>
