 <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <form action="" class="search-form">
              <div class="form-group has-feedback set-width">
                <label for="search" class="sr-only"></label>
                <input type="text" class="form-control" name="search" id="search" placeholder="search">
                  <span class="glyphicon glyphicon-search form-control-feedback"></span>
              </div>
            </form>
          </div>
        </div>
