<div class="banner-home">
  <div class="banner-content">
    <h1 class="slogan">Movy</h1>
    <p>Pick your bike, Change your life</p>
    <%= render "shared/searchbar" %>
    <div class="link_to">
    <%= link_to "Rent out your bike", new_bike_path %>
  </div>
  </div>
</div>




<div class="EXPERIENCE">
  <h2>EXPERIENCE FREEDOM IN 3 STEPS</h2>
</div>
<br>


  <div class="steps-bike">
  <span class="glyphicon glyphicon-search">
    <p>Search</p>
  </span>
  <span class="glyphicon glyphicon-hand-up">
    <p>Book</p>
  </span>
  <span class="glyphicon glyphicon-road">
    <p>Drive</p>
  </span>
</div>



<br>
<br>

<div class="testimonials">

  <div class="ange">
    <div class="ange-photo">

      <%= image_tag ("angelica.png"), class: "ange-photo" %>

    </div>
  </div>

</div>















