<div class="banner-home">
  <div class="banner-content">
    <h1 class="slogan">Movy</h1>

    <p>Ride Freedom</p>
    <div class="link_to">
    <%= link_to "Rent out your bike", new_bike_path %>
  </div>
  </div>
</div>




<div class="EXPERIENCE">
  <h2>EXPERIENCE FREEDOM IN 3 STEPS</h2>
</div>
<br>




<div class="steps-bike">

  <div class="row">
    <div class="col-xs-12 col-sm-4">
    <span class="glyphicon glyphicon-search">
      <p>Search</p>
    </span>
  </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <span class="glyphicon glyphicon-hand-up">
        <p>Book</p>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <span class="glyphicon glyphicon-road">
        <p>Drive</p>
      </span>
    </div>
  </div>

</div>




<br>
<br>

<div class="testimonials">

<figure class="snip1167">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample3.jpg" alt="sq-sample3"/>
  <blockquote>Calvin: Hobbes, sometimes when I'm talking, my words can't keep up with my thoughts. I am beginning to wonder why we think faster than we speak. Hobbes: Probably so we can think twice. </blockquote>
  <div class="author">
    <h5>Pelican Steve <span> LittleSnippets</span></h5>
  </div>
</figure>
<figure class="snip1167">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample27.jpg" alt="sq-sample27"/>
  <blockquote>Thank you. before I begin, I'd like everyone to notice that my report is in a professional, clear plastic binder...When a report looks this good, you know it'll get an A. That's a tip kids. Write it down.</blockquote>
  <div class="author">
    <h5>Max Conversion<span> LittleSnippets</span></h5>
  </div>
</figure>
<figure class="snip1167">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample17.jpg" alt="sq-sample17"/>
  <blockquote>My behaviour is addictive functioning in a disease process of toxic co-dependency. I need holistic healing and wellness before I'll accept any responsibility for my actions.</blockquote>
  <div class="author">
    <h5>Eleanor Faint<span> LittleSnippets</span></h5>
  </div>
</figure>
</div>


<%= render "/shared/footer" %>

































<!-- <div class="testimonials">
<figure class="snip0069 yellow">

  <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample1.jpg" alt="sample47"/></div>
  <figcaption>
    <h3>Adventure</h3>
    <p>My family is dysfunctional and my parents won't empower me. Consequently I'm not self actualized.</p>
  </figcaption><a href="#"></a>

</figure>
<figure class="snip0069 red hover">

  <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample2.jpg" alt="sample39"/></div>
  <figcaption>
    <h3>Night Life</h3>
    <p>That's the difference between me and the rest of the world! Happiness isn't good enough for me! I demand euphoria!</p>
  </figcaption><a href="#"></a>

</figure>
<figure class="snip0069 blue">
  <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample3.jpg" alt="sample6"/></div>
  <figcaption>
    <h3>Day Trips</h3>
    <p>You know what we need, Hobbes? We need an attitude. Yeah, you can't be cool if you don't have an attitude.</p>
  </figcaption><a href="#"></a>
</figure>
</div>
 -->




















