.footer{
  height:100px;
text-align: center;
background-color: rgba(20,80,20,0.3);
}

.icons {
  display: flex;
  justify-content: space-between;
  max-width:150px;
  padding-top:18px;

}
.icons > a{
  color: black;
}
.fb-ic:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.tw-ic:hover{

  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.ins-ic:hover{

  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.container-media{
  max-width: 180px;
}
.copy{
  margin:10px;
}
