.footer{
  height:100px;
text-align: center;
background-color: rgba(20,80,20,0.3);
}

.icons {
  display: block;
  margin: 0 auto !important;
  width: 100vw;
  justify-content: space-around;
  max-width:150px;
  padding-top:18px;

}
.icons > a{
  color: black;
  padding: 0 5%;
}
.fb-ic:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.tw-ic:hover{

  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.ins-ic:hover{

  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.copy{
  margin:10px;
}
