<nav class="navbar navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand"></a>

  <form class="form-inline" method="get" action="/bikes">

    <input class="form-control mr-sm-2" type="search" placeholder="Model or Location" aria-label="Search" name="q">
    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search a Bike</button>
  </form>
</nav>
